@charset "utf-8";

:root{
    --font: #D83939;
    --entrar: #FF8328;
    --form: #B3BAF9;
    --box-form: #9262C2;
}

*{

}

header{
    position: sticky;
}

section main{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

section > main >article{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin: 0 120px 0 20px;
    box-sizing: content-box;
}

section > main > article p{
    color: var(--font);
    font-size: 1.5em;
    line-height: 35px;
    text-align: center;
    box-sizing: content-box;
    height: 500px;
    margin: 0 20px;
}

section > main > div#login-form{
    background: #B3BAF9;
    border-radius: 35px 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    height: 350px;
    margin: auto;
    margin-right: 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 350px;
}

label, input{
    font-weight: 600;
}
label{
    font-size: 1.2em;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.216);
}

form::before{
    content: "Entre com suas informações";
    background-color: var(--box-form);
    width: 150.24px;
    height: 52.32px;
    color: #FFFFFF;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

    transform: translate(-55%, -55%);
    padding: 15px 15px;
    border-radius: 15px;
    text-align: center;
}


form [type = "submit"]{
    margin: auto;
    height: 50px;
    width: 70%;
    background-color: var(--entrar);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
    background-color: white;
    color: #FFFFFF;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

input#entrar{
    border: 2px solid var(--form);
    padding: 10px;
    border-radius: 15px;
}

input#entrar:hover{
    background-color: #a64906;
    color: #FFFFFF;
}
input#entrar:focus{
    transform: scale(1.04);
}

