@media screen and (max-width: 760px){/*celular*/
    /*Quando o site atingir a largura máxima de 760px*/
    header{
        flex-direction: column;
        justify-content: space-around;
    }

    header nav{
        padding-left: 0;
    }

    footer{
        display: none;
    }
    li{
        border-radius: 10px; 
        width: 70px;
     }
     
    nav{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: flex-start;
    }
    nav ul{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    a{
        font-size: .8em;
    }
    
}
/*Todas as demais mídias*/
/*Typical Device BreakPoints0
Pequenas telas: até 600px
Celular: Até 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: Acima de 1200px
*/

@media print{ /*Impressão*/
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {/*Tablet*/
   
}

@media screen and (min-width: 992px) and (max-width: 1200px){/*Desktop*/

}

@media screen and (min-width: 1200px){/*Telas grandes */
   
}