@media screen and (min-width: 320px) and (max-width: 760px){
    *{
        border: 1px solid;
    }
    section main article{
       overflow-y: scroll;
    }

    section main article p{
        height: 100%;
    }

    section main{
        margin-bottom: 0;
    }
    section main form{
        height: 288px;
    }
}

@media screen and (max-width: 760px){/*celular*/
    /*Quando o site atingir a largura máxima de 760px*/
    header{
        flex-direction: column;
    }
    section main{
        margin-top: 0;
        flex-direction: column-reverse;
    }
    h2{
        font-size: 38px;
    }
    form{
        margin: 0 auto;
        width: 100%;
    }
    
    section > main > article{
        height: 400px;
        margin: auto;
    }

    section main article p{
        padding-top: 20px;
        font-size: 1.2em;
        height: 100%;
    }

    section > main > div#login-form{
        width: 270px;
        height: 290px;
        margin: 3px auto;
    }

    section > main > div#login-form input{
        width: 200px;
    }
    section > main > div#login-form #entrar{
        margin-top: 0;
        height: 40px;
    }
    form::before{
        content: "Entre com suas informações";
        background-color: var(--box-form);
        width: 115.24px;
        height: 23.32px;
        left: 459.04px;
        top: 117px;
        color: #FFFFFF;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        font-size: 14px;
        transform: translate(-65%, -1%);
        padding: 0px 15px 15px;
        border-radius: 15px;
        text-align: center;
    }

    aside.img-principal{
        height: 300px;
    }

}
/*Todas as demais mídias*/
/*Typical Device BreakPoints0
Pequenas telas: até 600px
Celular: Até 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: Acima de 1200px
*/

@media print{ /*Impressão*/
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {/*Tablet*/
    section main article p{
        padding-top: 20px;
        font-size: 1.2em;
        height: 100%;
    }

    section .img-principal{
        height: 435px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){/*Desktop*/
    
}

@media screen and (min-width: 1200px){/*Telas grandes */
   
}